<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">
    <test name="Regression">
        <classes>
            <class name="com.ilcarro.qa.tests.LoginTests">
                <methods>
                    <exclude name=".*Negative.*"/>
                    <exclude name="loginUserWithoutPasswordTests.*"/>
                </methods>
            </class>
            <class name="com.ilcarro.qa.tests.AddCarTests">
                <methods>
                    <exclude name=".*Negative.*"/>
                    <exclude name="testFormLetTheCarWorkForNotLoggedInUser.*"/>
                </methods>
            </class>

        </classes>
    </test>

</suite>
